:root {
  --results-columns: 2;
}

.list {
  column-count: var(--results-columns);
  column-gap: 24px;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  :root {
    --results-columns: 3;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --results-columns: 4;
  }
}
