.section__home--title {
  font-size: 32px;
  line-height: 1.5;
}

.section__home--container-lists {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .section__home--container-lists {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
