.section__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8px;
}

.section__home--title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.section__home--container-lists {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .section__home {
    max-width: 1440px;
    padding: 40px 20px;
  }

  .section__home--container-lists {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
