.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  max-width: 1440px;
}

.header__logo {
  height: 40px;
}

.header__form {
  position: fixed;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__github--container {
  padding: 8px 16px;
  background-color: #4D006B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E49FFF;
  gap: 12px;
  border-radius: 100px;
  transition: all ease-in-out .2s;
}

.header__github--container:hover {
  background-color: #4d006bd4;
}

.header__github--container span {
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .header__logo {
    height: 80px;
  }

  .header__form {
    position: initial;
    width: 100%;
    flex: 1 1;
  }

  .header__github--container {
    flex: 1 1;
    max-width: fit-content;
  }
}

@media (min-width: 1024px) {
  .header__github--container {
    padding: 12px 32px;
  }

  .header__github--container span {
    font-size: 18px;
    font-weight: 700;
  }
}