.section__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  padding: 40px 20px;
}

.section__home--title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.section__home--form {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .section__home--form {
    position: initial;
    width: 100%;
    max-width: 664px;
    margin-bottom: 40px;
  }
}