.card {
  border-radius: 8px;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
/*   width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 300px; */
  border: 2px solid wheat;
}

.card__link {
  width: 100%;
}

.card__text {
  visibility: hidden;
}

.card:hover .card__text {
  visibility: visible;
  background: #270036d3;
  width: 100%;
  height: fit-content;
  color: #eee;
  align-self: flex-end;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

/* .card__image {
  width: 100%;
  display: none;
} */
