.card {
  --gifShadow-size: var(--gridList-gap, 6px);
  margin-bottom: 16px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card__link {
  visibility: visible;
  background: #270036d3;
  width: 100%;
  height: fit-content;
  color: var(--color-primary-100);
  text-decoration: none;
  position: relative;
  display: block;
  border-radius: 8px;
}

.card__text {
  display: none;
}

.card__image {
  object-fit: contain;
  vertical-align: top;
  width: 100%;
}

@media (min-width: 768px) {
  .card {
    margin-bottom: 24px;
  }

  .card:hover {
    scale: 1.2;
    z-index: 3;
    box-shadow: -3px 8px 18px 0px var(--color-primary-dark);
  }

  .card:hover .card__text {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    background: #270036d3;
    width: 100%;
    height: fit-content;
    color: var(--color-primary-100);
    bottom: 0;
    margin: 0;
    position: absolute;
    display: flex;
  }
}
