.category {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.category__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category__list--item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary-200);
  text-decoration: none;
}

.category__list--item:hover {
  color: var(--color-primary-300);
}
